.cardContainer {
  margin: 10px 0;
  padding: 20px;
  border: 2px solid #35373b;
  border-radius: 8px;
  background-color: #27292d;
  color: #c5c7ca;
}

.contentContainer {
  margin: 10px 0;
  padding: 15px;
  display: flex;
  border: 1px solid #232529;
  border-radius: 8px;
  background-color: #191920;
  color: #7f8083;
}

.emoticonContainer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27292d;
}

.content {
  flex: 1;
  margin-left: 15px;
  border: none;
  background-color: transparent;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #4a96ff;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
}
