.feedHome {
  display: flex;
  justify-content: center;
}

.fitContent {
  max-width: 600px;
  padding-bottom: 30px;
}

.welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #c5c7ca;
}

.subTitle {
  color: #7f8083;
  margin-bottom: 30px;
}

.logoutButton {
  background-color: #4a96ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}
